<table>
    <tr>
        <th>ID</th>
        <th>email</th>
        <th>name</th>
    </tr>
    {% for user in my_pager.currentPageResults %}
    <tr>
        <td> {{ user.id }}</td>
        <td><a href="/edit?id={{ user.id }}">{{ user.email }}</a></td>
        <td> {{ user.name }}</td>
        <td><a href="/delete?id={{ user.id }}">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
{{ pagerfanta(my_pager, 'default') }}
<a href="/create">Create user</a>